@media only screen and (max-width: 1100px) {
    nav{
        height: 80px;
    }
    
    nav .admin img{
        display: none;
    }

    .sorting select{
        width: 100px;
    }

    .beat{
        width: 80vw;
    }

    .beat-info{
        width: 80vw;
    }

    .top h1{
        font-size: 30px;
    }

    .bottom .play-button{
        width: 15vw;
    }

    .bottom .volume-slider{
        display: none;
    }

    .bottom .audio-icon{
        display: none;
    }

    .beat-info span{
        font-size: 20px;
        margin-left: 30px;
    }

    .beat-info img{
        width: 30px;
        height: 30px;

    }

    .tags div{
        width: 100px;
    }

    .middle .waveform img{
        height: 80%;
        width: 100%;
    }

    .middle .waveform{
        height: 80%;
    }

    .top img{
        height: 30px;
        width: 30px;
    }

    footer{
        display: none;
    }

    .top a{
        margin: auto;
}
}

@media only screen and (max-width: 555px) {
    .beat-info div{
        display: none;
    }
    .beat-info p{
        display: block;
    }
    .beat-duration{
        font-size: 20px;
    }
}