@media only screen and (max-width: 1100px) {
    nav{
        height: 80px;
    }

    nav img{
        height: 80px;
        width: 150px
    }
    
    nav .admin img{
        display: none;
    }

    .sorting {
        font-size: 20px;
    }

    .sorting select{
        font-size: 12px;
        padding: 2px;
    }

    .sort-container{
        transform: translateY(-140px);
    }

    .beat, .beat-info{
        width: 90vw;
        margin-right: 5vw;
    }

    .top h1{
        font-size: 30px;
    }

    .bottom .volume-slider{
        display: none;
    }

    .bottom .audio-icon{
        display: none;
    }

    .beat-info span{
        font-size: 20px;
        margin-left: 30px;
    }

    .beat-info img{
        width: 30px;
        height: 30px;

    }

    .tags div{
        width: 100px;
    }

    .top img{
        height: 30px;
        width: 30px;
    }

    footer{
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .beat-info div{
        display: none;
    }
    .beat-info p{
        display: block;
    }
    .beat-duration{
        font-size: 20px;
    }
    .sort-container{
        translate: -40px;
    }
    .top h1{
        font-size: 26px;
    }

}